<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Lista de Clientes</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
            <th>Data de Cadastro</th>
            <th>Data da Última Interação</th>
            <th>Segmento de Mercado</th>
            <th>Interesse</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td th:text="${cliente.dtaNascimento}"></td>
            <td th:text="${cliente.dtaCadastro}"></td>
            <td th:text="${cliente.dtaUltimaInteracao}"></td>
            <td th:text="${cliente.segmentoMercado}"></td>
            <td th:text="${cliente.interesse.descricao}"></td>
            <td th:text="${cliente.endereco.estado}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(clientes)}">
            <td colspan="9">Nenhum cliente encontrado.</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
